<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        <div class="center">
                            <li>
                                <p><%= p.title %> (<%= p.cartItem.quantity %>)</p>
                                <form class="inline-form" action="/deleteitem" method="POST">
                                    <input type="hidden" value="<%= p.id %>" name="productId">
                                    <button class="btn" type="submit">Delete</button>
                                </form> 
                            </li>
                        </div>
                       
                    <% }) %>
                </ul>
                <hr>
                <div class="center">
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order Now!!</button>
                    </form>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>