<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        <div class="center">
                                <div>
                                        <form class="inline-form" action="/deleteitem" method="POST">
                                            <h3><%= p.title %> (<%= p.quantity %>)
                                                <span class="btn-spacee"></span>
                                            <input type="hidden" value="<%= p._id %>" name="productId">
                                            <button class="btn" type="submit">Delete</button>
                                        </form> 
                                    </h3>
                                    
                                </div>
                        </div>
                       
                    <% }) %>
                </ul>
                <hr>
                <div class="center">
                    <h4>
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order Now!!</button>
                    </form>
                    </h4>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>